body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.title {
    font-weight: lighter;
}

.main-img {
    box-shadow: 0px 2px 5px lightgray;
    width: auto;
    height: calc(100vh - 90px);
}

.breadcrumb {
    color: #565959;
}

a {
    color: #007185;
}

h2 {
    font-size: large;
}

.book-info, .book-cover {
    margin: 30px;
}

.book-blurb {
    font-size: larger;
}