body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

.title {
    font-weight: lighter;
}

.main-img {
    box-shadow: 0px 2px 5px lightgray;
}

.breadcrumb {
    color: #565959;
}

a {
    color: #007185;
}

h2 {
    font-size: large;
}

.book-info {
    margin: 10px;
}